#left_motor,
#right_motor {
    font-size: 12px;
    width: 200px;
    height: 200px;
}

#left_motor {
    background: #0f0;
    float: left
}

#right_motor {
    background: #0f0;
    float: right;
}

